.button-container {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: #FFF;
  border-radius: 25px;
  border: 2px solid #FFF;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}
.button-container:hover {
  border-color: #000;
  opacity: 0.8;
}
.operador {
  background-color: #00471b;
}
